<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <title>LemonBlock</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a>
                <img src="{{ url_for('static', filename='images/lemon-icon.png') }}" alt="Juice Wallet Logo" class="logo">
            </a>
        </div>
        <div class="navbar-links">
            <li>
                <a>
                    <img src="{{ url_for('static', filename='images/about-icon.png') }}" alt="About Icon" class="navbar-logo-wallet">
                </a>
            </li>
        </div>
    </nav>

    <div class="container">
        {% block body %}{% endblock %}
    </div>
</body>
</html>